<%= stylesheet_link_tag "style.css" %>
<!DOCTYPE html>
<html>
  <head>
    <title>Help/FAQ</title>
    <style>
      /* CSS for the Help/FAQ page */
  /* .heading {
    background: linear-gradient(to right, #bbb, #ddd);
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
  } */
  .heading {
  background-color: #F9F9F9;
  border-bottom: 1px solid #CCC;
  padding: 0px;
  color: black;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f7f7f7;
  color: #333;
  padding: 20px;
}

.headerText {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}


h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  text-align: center;

}

h2 {
  font-size: 28px;
  font-weight: bold;
  text-decoration: underline;
  margin: 0;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

nav {
  background-color: #fef;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a:hover {
  color: #000;
}

.faq-section {
  margin: 20px;
}

.faq-question {
  font-size: 24px;
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}

.faq-answer {
  margin: 0;
  padding: 20px 0;
  color: #666;
}

a {
  color: #333;
}

a:hover {
  color: #000;
}

    </style>
  </head>
<body>
  <header>
    <h1>Help/FAQ</h1>
  </header>
  <div class="headerText">
    <p>This is the Help Page</p>
    <p>This page will help explain how to navigate the website and use the features.</p>
  </div>

  <nav>
    <ul>
      <li><a href="#getting-started">Getting Started</a></li>
      <li><a href="#account">Account</a></li>
      <li><a href="#upload">Uploading School Data</a></li>
      <li><a href="#troubleshooting">Troubleshooting</a></li>
    </ul>
  </nav>

  <div class="faq-section" id="getting-started">
    <h2 class="heading">Getting Started</h2>

    <div class="faq-question">
      <h3>How do I create an account?</h3>
    </div>
    <div class="faq-answer">
      <p>To create an account, reach out to your administrative contact 
      from Stronger Educator with your preferred Google email address, as well as your Campus ID, 
      and District ID. They will create an account for you and then you can login with your Google email.
      </p>
      <p>
      Due to the privleged and sensitive student information that is processed, campuses and district accounts are only able to view their own district and campuses.
      </p>
    </div>

    <div class="faq-question">
      <h3>How do I get started / How can I get in contact?</h3>
    </div>
    <div class="faq-answer">
      <p>Please visit <a href="https://www.strongered.com/who-we-are"> Stronger Educator </a> to set up appointment with Dr. Anthony Luevanos or through the company email stronger@strongered.com. </p>
    </div>
  </div>

  <div class="faq-section" id="account">
    <h2 class="heading">Account</h2>

    <div class="faq-question">
      <h3>How do I change my Login/password?</h3>
    </div>
    <div class="faq-answer">
      <p>Login for this website is secured through Google Authentication. If you have issues accessing your Google email account please reach out to the appropriate Google support services for assistance. 
      Here is a link for your convenience <a href="https://support.google.com/accounts/troubleshooter/2402620?hl=en"> Google Support Account Troubleshooting. </a>
      </p>
    </div>

    <div class="faq-question">
      <h3>How do I update my account information ?</h3>
    </div>
    <div class="faq-answer">
      <p>If your District or Campus Identifaciton information is incorrect, please notify the Stronger Educator admin team through the company email stronger@strongered.com. </p>
    </div>
  </div>

  <div class="faq-section" id="upload">
    <h2 class="heading">Uploading School Data</h2>

    <div class="faq-question">
      <h3>How do I upload data to be processed for my Campus/District?</h3>
    </div>
    <div class="faq-answer">
      <p>Navigate to the [Upload Data] button on the navigation bar.</p>
      <p>Download the template CSV file from our website.</p>
      <p>Locally through a CSV editing program such as Excel or Google Sheets, edit and paste in the corresponding information.</p>
      <p>Save the file locally and make sure it is in the ".csv" format, and then press the "Choose File" button and select the name of the .csv file you just saved</p>
      <p>Finally hit the "Import" button to process the upload.</p>

    </div>
  </div>

  <div class="faq-section" id="troubleshooting">
    <h2 class="heading">Troubleshooting</h2>

    <div class="faq-question">
      <h3>There is an error with the webpage, who can I reach out to about this?</h3>
    </div>
    <div class="faq-answer">
      <p>Thank you for bringing these to our attention! You may fill out this form: <a href="https://forms.gle/yRxqMDJY2PHt3HYa6"> Help Request</a>, and we will get back to you about the issue.</p>
    </div>

    <div class="faq-question">
