<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "style.css" %>
</head>

<body>

<div class="body">
	<p>This is the Upload Page</p>
	
	<%= form_with url: import_upload_index_path, method: :post do |form| %>
		<%= form.file_field :file, accept: ".csv" %>
		<%= form.button "Import" %>
	<% end %>
</div>

</body>
</html>