<!DOCTYPE html>
<html>
<head>
	<title>Stronger Educator</title>
	<%= stylesheet_link_tag "style.css" %>
</head>

<body>

<div class="body">
	<h2>You are not signed in. Please sign in to continue.</h2>
    <%= button_to "Sign in with Google", admin_google_oauth2_omniauth_authorize_path%>
</div>

</body>
</html>
