<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag "style.css" %>
</head>

<body>
<div class="body">
    <p> 
        Click on a data_import's name to edit their information. <br>
    </p>
</div>
</body>

</html>