<!DOCTYPE html>
<html>
<head>
	<title>Stronger Educator</title>
	<%= stylesheet_link_tag "style.css" %>
</head>

<body>

<div class="logo">
	<%# Stronger Educator Logo at the top of the page %>
	<%= image_tag ("strongered.webp") %>
</div>

<div class="header">
    <%# Make buttons out of the links below %>
	<navbutton style="background-color: #ffffbb;"> <%= link_to "Help", "/help" %> </navbutton>
    <navbutton style="background-color: #ffbbbb;"> <%= link_to "Sign Out", destroy_admin_session_path %> </navbutton>
</div>

<div class="body">
    <p>Please enter your account details.</p>

	<form>
		<!-- Dummy data that will be updated to contain a template field of data for the user to enter data into -->
		<label for="user_id">User ID:</label> <%# we can assign this automatically in postgres %>
		<input type="text" id="user_id" name="user_id"><br>

		<label for="df1">First and Last Name:</label>
		<input type="text" id="df1" name="df1"><br>

		<label for="df2">E-mail Address:</label>
		<input type="text" id="df2" name="df2"><br>

        <label for="df5">Street Address:</label> <%# is this really needed? %>
		<input type="text" id="df5" name="df5"><br>

		<label for="df3">District ID:</label> <%# how is the user going to know this? %>
		<input type="text" id="df3" name="df3"><br>

        <label for="df4">Campus ID:</label> <%# how is the user going to know this? %>
        <input type="text" id="df4" name="df4"><br>
		
        <%# Submit button needs to send all this data into the users table, and then send the user to main page%>
        <input type="submit" value="Submit">
	</form>
</div>

</body>
</html>